@{
    ViewData["Title"] = "List of Rooms";
}


<p>This page is the room page.</p>
<p>It will contain a diagram of the room layout, indicating which computer is which. The teacher will be able to allocate students to computers in this page.
    They will also be able to note damage to machines.
</p>