@model LabLog.ViewModels.SchoolListViewModel

<h2>Schools</h2>
<ul>
        @foreach (var school in Model.Schools)
        {
            <li>
                <a asp-controller="@this.ViewContext.RouteData.Values["controller"].ToString()" asp-action="School" asp-route-schoolId="@school.Id" asp-route-name="@school.Name">@school.Name</a>
            </li>
        }

</ul>
