@model LabLog.Domain.Entities.Room
@{
    ViewData["Title"] = "Add Room";
}


<h1>Add Room</h1>
<form asp-controller="Admin" asp-action="Index" method="post">
    <div class="formgroup">
        <input asp-for="Name" class="form-control" placeholder="Room Name" />
        <button type="submit">Add Room</button>
    </div>
</form>
