@model RoomModel
@{
    ViewData["Title"] = "Admin";
}

<h1>Admin</h1>
<h2>Rooms</h2>
<ul>
    @if(ViewData["Rooms"] != "")
    {
        foreach (var room in ViewData["Rooms"] as List<RoomModel>)
        {
            <li>
                @room.Name
            </li>
        }
    }

</ul>



<form action="./admin/AddRoom">
    <input type="submit" value="New Room" />
</form>