@model List<RoomModel>
@{
    ViewData["Title"] = "Admin";
}

<h1>Admin</h1>
<h2>Rooms</h2>
<ul>
        @foreach (var room in Model)
        {
            <li>
                <a asp-controller="Admin" asp-action="Room" asp-route-id="@room.Name">@room.Name</a>
            </li>
        }

</ul>


<form action="./admin/AddRoom">
    <input type="submit" value="New Room" />
</form>