@model LabLog.ViewModels.SchoolListViewModel
@{
    ViewData["Title"] = "Admin";
}

<h1>Admin</h1>

@Html.Partial("/Views/Shared/SchoolList.cshtml")

<form asp-controller="Admin" asp-action="AddSchool" method="get">
    <input type="submit" value="New School" />
</form>