@model List<SchoolModel>
@{
    ViewData["Title"] = "Admin";
}

<h1>Admin</h1>
<h2>Schools</h2>
<ul>
        @foreach (var school in Model)
        {
            <li>
                <a asp-controller="Admin" asp-action="School" asp-route-schoolId="@school.Id" asp-route-name="@school.Name">@school.Name</a>
            </li>
        }

</ul>


<form asp-controller="Admin" asp-action="AddSchool" method="get">
    <input type="submit" value="New School" />
</form>