@model LabLog.ViewModels.RoomViewModel
@{
    ViewData["Title"] = "Admin";
}

<h1>Admin</h1>

@Html.Partial("/Views/Shared/Room.cshtml")

<form asp-controller="Admin" asp-action="AddComputer" asp-route-schoolId="@Model.School.Id" asp-route-name="@Model.School.Name" asp-route-roomname="@Model.Room.Name" method="get">
    <input type="submit" value="New Computer" />
</form>