@model LabLog.ViewModels.SchoolViewModel
@{
    ViewData["Title"] = "Admin";
}

<h1>Admin</h1>

@Html.Partial("/Views/Shared/School.cshtml")

<form asp-controller="@Model.ControllerString" asp-action="AddRoom" method="get">
    <input type="submit" value="New Room" />
</form>