@model LabLog.SchoolModel
@{
    ViewData["Title"] = "List of Schools";
}

@ViewData["message"]
@Model.Name
<p>This page is the School View page.</p>
<p>It will contain the layout of the school (which can be edited), along with edit and delete options.</p>
