@model List<RoomModel>
@{
    ViewData["Title"] = "Admin";
}

<h1>Admin</h1>
<h2>Schools</h2>
<ul>
    @foreach (var room in Model)
    {
        <li>
            <a asp-controller="Admin" asp-action="Room" asp-route-name="@room.Name">@room.Name</a>
        </li>
    }

</ul>


<form asp-controller="Admin" asp-action="AddRoom" method="get">
    <input type="submit" value="New Room" />
</form>