@model LabLog.ViewModels.SchoolViewModel
@{
    ViewData["Title"] = "Admin";
}

<h1>Admin</h1>

@Html.Partial("/Views/Shared/School.cshtml")

<form asp-controller="@this.ViewContext.RouteData.Values["controller"].ToString()" asp-action="AddRoom" method="get">
    <input type="submit" value="New Room" />
</form>